.formWrapper {
  max-width: 70%;
  margin: 40px auto;
  background: #e0e7ff;
  padding: 2rem 1.5rem;
  border-radius: 16px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.08);
}
.profileImage {
  border: 3px solid white;
}
.heading {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #3b3b3b;
  font-size: 1.6rem;
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup label {
  font-weight: 600;
  color: #222;
}

.formGroup input[type="text"],
.formGroup select,
.formGroup textarea,
.formGroup input[type="radio"] {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #e0e7ff;
  font-size: 1rem;
}

.formGroup input[type="file"] {
  padding: 0.3rem 0;
}

.submitBtn {
  padding: 0.7rem;
  background: #6366f1;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.submitBtn:hover {
  background: #4338ca;
}

@media (max-width: 500px) {
  .formWrapper {
    padding: 1rem 0.5rem;}}